# Reading Datasets From Files

In [1]:
import pandas as pd
import numpy as np

## .csv Files

In [3]:
### This .csv file downloaded from kaggle
dataset = pd.read_csv("Corona_NLP_test.csv")
dataset

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [7]:
### Drop the first column (UserName)
newdataset = dataset.drop(["UserName"], axis=1)
newdataset

,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...
3793,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [9]:
### Saving the new dataset
newdataset.to_csv("newData_for_Corona.csv")

In [11]:
### Saving the new dataset (without indexes)
newdataset.to_csv("newData_for_Corona_without_indexes.csv", index=False)

In [12]:
dataset = pd.read_csv("newData_for_Corona_without_indexes.csv")
dataset

,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...
3793,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

## .xlsx Files

In [15]:
dataset = pd.read_excel("dataset_excel.xlsx")
dataset

         column1  column2  column3  column4  column5
0  row1        1        2        3        4        5
1  row2        2        3        4        5        6
2  row3        3        4        5        6        7
3  row4        4        5        6        7        8
4  row5        5        6        7        8        9
5  row6        6        7        8        9       10

In [16]:
#### Add columns to a data set...

dataset["column6"] = np.arange(6)
dataset

         column1  column2  column3  column4  column5  column6
0  row1        1        2        3        4        5        0
1  row2        2        3        4        5        6        1
2  row3        3        4        5        6        7        2
3  row4        4        5        6        7        8        3
4  row5        5        6        7        8        9        4
5  row6        6        7        8        9       10        5

In [17]:
#### Saving the new dataset as an .xlsx file...
dataset.to_excel("newExcel_file.xlsx")

## Tables on HTML Pages

In [19]:
dataset = pd.read_html("https://www.contextures.com/xlSampleData01.html")

dataset #### All tables on the url getting in the list...

[             0        1         2        3      4         5        6
 0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
 1     1/6/2019     East     Jones   Pencil     95      1.99   189.05
 2    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
 3     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
 4    2/26/2019  Central      Gill      Pen     27     19.99   539.73
 5    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
 6     4/1/2019     East     Jones   Binder     60      4.99   299.40
 7    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
 8     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
 9    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
 10    6/8/2019     East     Jones   Binder     60      8.99   539.40
 11   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
 12   7/12/2019     East    Howard   Binder     29      1.99    57.71
 13   7/29/2019     East    Parent   Binder     81     19.99  1619.19
 14   8/15/2019     East     Jones   Pencil     35      4.99   174.65
 15    9/1/2019  Central     Smith     Desk      2    125.00   250.00
 16   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
 17   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
 18  10/22/2019     East     Jones      Pen     64      8.99   575.36
 19   11/8/2019     East    Parent      Pen     15     19.99   299.85
 20  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
 21  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
 22  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
 23   1/15/2020  Central      Gill   Binder     46      8.99   413.54
 24    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
 25   2/18/2020     East     Jones   Binder      4      4.99    19.96
 26    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
 27   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
 28   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
 29   4/27/2020     East    Howard      Pen     96      4.99   479.04
 30   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
 31   5/31/2020  Central      Gill   Binder     80      8.99   719.20
 32   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
 33    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
 34   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
 35    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
 36   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
 37   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
 38   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
 39  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
 40  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
 41  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
 42   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
 43  12/21/2020  Central   Andrews   Binder     28      4.99   139.72]

In [20]:
#### Getting first element of the table list
dataset[0]

             0        1         2        3      4         5        6
0    OrderDate   Region       Rep     Item  Units  UnitCost    Total
1     1/6/2019     East     Jones   Pencil     95      1.99   189.05
2    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
3     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
4    2/26/2019  Central      Gill      Pen     27     19.99   539.73
5    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
6     4/1/2019     East     Jones   Binder     60      4.99   299.40
7    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
8     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
9    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
10    6/8/2019     East     Jones   Binder     60      8.99   539.40
11   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
12   7/12/2019     East    Howard   Binder     29      1.99    57.71
13   7/29/2019     East    Parent   Binder     81     19.99  1619.19
14   8/15/2019     East     Jones   Pencil     35      4.99   174.65
15    9/1/2019  Central     Smith     Desk      2    125.00   250.00
16   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
17   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
18  10/22/2019     East     Jones      Pen     64      8.99   575.36
19   11/8/2019     East    Parent      Pen     15     19.99   299.85
20  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
21  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
22  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
23   1/15/2020  Central      Gill   Binder     46      8.99   413.54
24    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
25   2/18/2020     East     Jones   Binder      4      4.99    19.96
26    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
27   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
28   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
29   4/27/2020     East    Howard      Pen     96      4.99   479.04
30   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
31   5/31/2020  Central      Gill   Binder     80      8.99   719.20
32   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
33    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
34   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
35    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
36   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
37   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
38   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
39  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
40  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
41  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
42   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
43  12/21/2020  Central   Andrews   Binder     28      4.99   139.72

In [21]:
#### Setting values in first index to column names...

dataset = pd.read_html("https://www.contextures.com/xlSampleData01.html", header=0)
dataset[0]

     OrderDate   Region       Rep     Item  Units  UnitCost    Total
0     1/6/2019     East     Jones   Pencil     95      1.99   189.05
1    1/23/2019  Central    Kivell   Binder     50     19.99   999.50
2     2/9/2019  Central   Jardine   Pencil     36      4.99   179.64
3    2/26/2019  Central      Gill      Pen     27     19.99   539.73
4    3/15/2019     West   Sorvino   Pencil     56      2.99   167.44
5     4/1/2019     East     Jones   Binder     60      4.99   299.40
6    4/18/2019  Central   Andrews   Pencil     75      1.99   149.25
7     5/5/2019  Central   Jardine   Pencil     90      4.99   449.10
8    5/22/2019     West  Thompson   Pencil     32      1.99    63.68
9     6/8/2019     East     Jones   Binder     60      8.99   539.40
10   6/25/2019  Central    Morgan   Pencil     90      4.99   449.10
11   7/12/2019     East    Howard   Binder     29      1.99    57.71
12   7/29/2019     East    Parent   Binder     81     19.99  1619.19
13   8/15/2019     East     Jones   Pencil     35      4.99   174.65
14    9/1/2019  Central     Smith     Desk      2    125.00   250.00
15   9/18/2019     East     Jones  Pen Set     16     15.99   255.84
16   10/5/2019  Central    Morgan   Binder     28      8.99   251.72
17  10/22/2019     East     Jones      Pen     64      8.99   575.36
18   11/8/2019     East    Parent      Pen     15     19.99   299.85
19  11/25/2019  Central    Kivell  Pen Set     96      4.99   479.04
20  12/12/2019  Central     Smith   Pencil     67      1.29    86.43
21  12/29/2019     East    Parent  Pen Set     74     15.99  1183.26
22   1/15/2020  Central      Gill   Binder     46      8.99   413.54
23    2/1/2020  Central     Smith   Binder     87     15.00  1305.00
24   2/18/2020     East     Jones   Binder      4      4.99    19.96
25    3/7/2020     West   Sorvino   Binder      7     19.99   139.93
26   3/24/2020  Central   Jardine  Pen Set     50      4.99   249.50
27   4/10/2020  Central   Andrews   Pencil     66      1.99   131.34
28   4/27/2020     East    Howard      Pen     96      4.99   479.04
29   5/14/2020  Central      Gill   Pencil     53      1.29    68.37
30   5/31/2020  Central      Gill   Binder     80      8.99   719.20
31   6/17/2020  Central    Kivell     Desk      5    125.00   625.00
32    7/4/2020     East     Jones  Pen Set     62      4.99   309.38
33   7/21/2020  Central    Morgan  Pen Set     55     12.49   686.95
34    8/7/2020  Central    Kivell  Pen Set     42     23.95  1005.90
35   8/24/2020     West   Sorvino     Desk      3    275.00   825.00
36   9/10/2020  Central      Gill   Pencil      7      1.29     9.03
37   9/27/2020     West   Sorvino      Pen     76      1.99   151.24
38  10/14/2020     West  Thompson   Binder     57     19.99  1139.43
39  10/31/2020  Central   Andrews   Pencil     14      1.29    18.06
40  11/17/2020  Central   Jardine   Binder     11      4.99    54.89
41   12/4/2020  Central   Jardine   Binder     94     19.99  1879.06
42  12/21/2020  Central   Andrews   Binder     28      4.99   139.72